#mc-test-result {
  margin-left: 10px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

#mc-test-result .dashicons {
  font-size: 20px;
  line-height: 1;
  vertical-align: middle;
}

#mc-test-result.success {
  color: #2ecc71; /* verde */
}

#mc-test-result.error {
  color: #e74c3c; /* rojo */
}